In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading data
email = pd.read_csv('spam_ham_dataset[1].csv')

In [3]:
email.head(10)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0
6,2793,ham,Subject: spring savings certificate - take 30 ...,0
7,4185,spam,Subject: looking for medication ? we ` re the ...,1
8,2641,ham,Subject: noms / actual flow for 2 / 26\r\nwe a...,0
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0

In [4]:
#removing unwanted columns
df = email.drop(["label", "Unnamed: 0"], axis = 1)

In [5]:
#checking for null values
df.isnull().sum()

In [6]:
#shuffling the dataframe
#frac = 1 returns data in random order
df = df.sample(frac = 1)

In [7]:
df.head(10)

,text,label_num
3836,"Subject: hpl nom for january 27 , 2001\r\n( se...",0
4911,Subject: tx gen land office oct 2000 prod\r\nd...,0
2859,Subject: nom / actual flow for 2 / 12 / 01\r\n...,0
3844,Subject: please read this\r\nhi there\r\nhope ...,1
3042,"Subject: enron / hpl actuals for december 4 , ...",0
3074,"Subject: 10 / 00 assignment , termination , ex...",0
1285,Subject: join the thousands who are now sp @ m...,1
2033,"Subject: hpl nom for december 27 , 2000 - revi...",0
4010,"Subject: re : account setup\r\ngood day ,\r\ny...",1
4170,Subject: calpine monthly nomination\r\n- - - -...,0

In [8]:
#resetting index
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [9]:
df.head(5)

,text,label_num
0,"Subject: hpl nom for january 27 , 2001\r\n( se...",0
1,Subject: tx gen land office oct 2000 prod\r\nd...,0
2,Subject: nom / actual flow for 2 / 12 / 01\r\n...,0
3,Subject: please read this\r\nhi there\r\nhope ...,1
4,"Subject: enron / hpl actuals for december 4 , ...",0

In [10]:
#making function to process words
import re
import string
def words(text):
    text = text.lower()
    text = re.sub('', '', text)
    text = re.sub("\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [11]:
df["text"] = df["text"].apply(words)

In [12]:
data = df["text"]
target = df["label_num"]

In [13]:
#separating into training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=2)

In [14]:
#converting text to vector usinf tf idf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
XV_train = vectorization.fit_transform(X_train)
XV_test = vectorization.transform(X_test)

In [15]:
#using random forest classifier model
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=10, random_state=5)
forest.fit(XV_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=5)

In [16]:
#checking training score
training_score = forest.predict(XV_train)
print("training set score:")
forest.score(XV_train, y_train)

training set score:

0.998968540484786

In [17]:
#checking test score
test_score = forest.predict(XV_test)
print("test set score:")
forest.score(XV_test, y_test)

test set score:

0.945862335653519